﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanesBooking</title>
    <link rel="stylesheet" href="~/css/foundation.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/homelayout.css">
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlanesBooking.styles.css" asp-append-version="true" />
</head>
<body>
    <!--<header>
        <nav class="title-bar">
            <div class="top-bar-left">
                    <ul class="dropdown menu">
                         <li><a asp-area="" asp-controller="Home" asp-action="Index">PlanesBooking</a></li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Airports" asp-action="Index">Airports</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Planes" asp-action="Index">Planes</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tutors" asp-action="Index">Tutors</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">Bookings</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>-->
    <div class="grid-container fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="text-center">
            <p>2022 - Planes Booking App </p>
            <p>All rights reserved</p>
        </div>
    </footer> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/vendor/what-input.js"></script>
    <script src="~/js/vendor/foundation.js"></script>
    <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
