@model GenericModel
@if(Model != null){
<div class="list-item cell medium-6 large-4 grid-x">
    <div class="cell small-3">
        <div class="image"><img src=""/></div>
    </div>
    <div class="cell small-9">
        <div class="header">
            <strong>@StringExt.Truncate(Model.Name,14)</strong>
            <div class="list-item-controls float-right">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
        <div class="list-item-props grid-x">
            @{var i = 0;}
            @foreach (var item in @Model.GetType().GetProperties())
            {
                @if(item.Name != "Name" && item.Name != "Id") {
                    <div class="cell small-6"><strong>@item.Name: </strong>@item.GetValue(Model)</div>
                    i++;if(i > 3) break; 
                }
            }
        </div>
    </div>
    
</div>
}