@model IEnumerable<PlanesBooking.Models.Planes>

@{
    ViewData["Title"] = "Airports";
}

@if (Model == null || !Model.Any())
{
<div class="grid-x grid-padding-x align-center align-middle">
    <div class="text-center">
        <br/>
        <img src="~/img/empty.png"/>
        <h3>It's a ghost town here!</h3>
        <p>Maybe add some content here, so that we have something to work with here.</p>
        <a asp-action="Create" class="button">Add New Plane</a>
    </div>
</div>
} else {
<h1>List of all Planes</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<!--<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if(item.AirportId != 0){
                    @(((List<Airports>)ViewData["Airports"]).Find(i => i.Id == item.AirportId).Name)
                } else {
                    @Html.Raw("No Airport");
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>-->
<div class="grid-x">
    @foreach (var item in Model)
    {
        @Html.DisplayFor(model => item, "GenericLists");
    }
</div>
}
