@model PlanesBooking.Models.Bookings

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bookings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookDate" class="control-label"></label>
                <input asp-for="BookDate" class="form-control" />
                <span asp-validation-for="BookDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportId" class="control-label"></label>
                <select asp-for="AirportId" class="form-control">
                    <option value="0">No Airport</option>
                    @foreach (var item in ViewData["Airports"] as List<Airports>)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PlaneId" class="control-label"></label>
                <select asp-for="PlaneId" class="form-control">
                    <option value="0">No Plane</option>
                    @foreach (var item in ViewData["Planes"] as List<Planes>)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TutorId" class="control-label"></label>
                <select asp-for="TutorId" class="form-control">
                    <option value="0">No Tutor</option>
                    @foreach (var item in ViewData["Tutors"] as List<Tutors>)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
