@model IEnumerable<PlanesBooking.Models.Bookings>

@{
    ViewData["Title"] = "Index";
}
@if (Model == null || !Model.Any())
{
<div class="grid-x grid-padding-x align-center align-middle">
    <div class="text-center">
        <br/>
        <img src="~/img/empty.png"/>
        <h3>It's a ghost town here!</h3>
        <p>Maybe add some content here, so that we have something to work with here.</p>
        <a asp-action="Create" class="button">Add New Booking</a>
    </div>
</div>
} else {
<h1>List of all Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookDate)
            </td>
            <td>
                @if(item.AirportId != 0){
                    @(((List<Airports>)ViewData["Airports"]).Find(i => i.Id == item.AirportId).Name)
                } else {
                    @Html.Raw("No Airport");
                }
            </td>
            <td>
                @if(item.PlaneId != 0){
                    @(((List<Planes>)ViewData["Planes"]).Find(i => i.Id == item.PlaneId).Name)
                } else {
                    @Html.Raw("No Plane");
                }
            </td>
            <td>
                @if(item.TutorId != 0){
                    @(((List<Tutors>)ViewData["Tutors"]).Find(i => i.Id == item.TutorId).FirstName)
                } else {
                    @Html.Raw("No Tutor");
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


       
}