﻿@{
    ViewData["Title"] = "Plane Booking App";
}

<div class="grid-x grid-padding-x home-index-full align-middle">
    <div class='cell large-6 '>
		<div class="grid-x align-center">
			<img class="home-index-sprite" src='~/img/indexsprite.png'/>
		</div>
	</div>
	<div class='cell large-6'>
		<h1>Welcome to the Plane Booking App!</h1>
		<p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronicy</p>
		<a class="button" asp-area="" asp-controller="Bookings" asp-action="Index">LOGIN</a> or <a asp-controller="Home" asp-action="Register">Register for a booking</a>
	</div>
  </div>
