@{
    ViewData["Title"] = "Login";
}
<div class="grid-x">
    <div class="cell large-6">
        <h4 class='raleway'>Planes Booking X</h4>
        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="cell large-6">
        <h2>LOGIN</h2>
        <input type="text" placeholder="Username">
		<input type="password" placeholder="Password"><br>
		<button>SIGN IN</button>
    </div>
</div>