﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="grid-x">
    <div class="cell large-6">
        <h4 class='raleway'>Planes Booking X</h4>
        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="cell large-6">
        <h1>Basic Details</h1>
								<p>Your basic personal information, used to identify the user uniquely.</p><br>
								<div class="input-group">
									<span class="input-group-label input-label-fix-size">User Name</span>
									<input id='signup-username' class="input-group-field" type="text">
								</div>
								<div class="input-group">
									<span class="input-group-label input-label-fix-size">Password</span>
									<input id='password-org' class="input-group-field" type="password">
								</div>
								<div class="input-group">
									<span class="input-group-label input-label-fix-size">Confirm Password</span>
									<input id='confirm-pass' class="input-group-field" type="password">
								</div>
    </div>
</div>
