body{
	background-image:url(/img/indexbg.png);
	background-position: bottom; 
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-color:#17395e;
	padding-top:20px;
	height: 100%;
}

.index-anim{
	animation: fadeintop 1.5s;
}

p,h5,h4,h1{
	color:white;
}

.home-index-sprite{
	max-width: 500px;
	width: 100%;
	height: auto;
}

.home-index-full{
	height:80vh;
}