@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-ExtraLight.ttf);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h5,h4,h3,h1{
	font-family: 'Raleway';
}

.list-item{
  padding: 10px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 3px;
  transition: 0.3s;
}

.list-item:hover{
  background-color: #ebebeb;
}

.list-item > .name{

}

/*body {
  margin-bottom: 60px;
}*/

